<template>
	<div class=frame>
		<table class="table">
			<thead>
				<td>Email</td>
				<td>IP address</td>
				<td>Nickname</td>
				<td class="text-right">
					<button @click="removeAllItems()" v-if="items.length">Remove all</button>
				</td>
			</thead>
			<tbody>
				<tr v-for="(item, index) in items">
					<td>{{item.email}}</td>
					<td>{{item.ip}}</td>
					<td>{{item.nickname}}</td>
					<td class="text-right"><button @click="removeItem(index)">x</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td col=4>Add new</td>
				</tr>
				<tr>
					<td>
						<input type="text" v-model="newPerson.email">
					</td>
					<td>
						<input type="text" v-model="newPerson.ip">
					</td>
					<td>
						<input type="text" v-model="newPerson.nickname">
					</td>
					<td class="text-right">
						<button :disabled="!valid" @click="addNew()">Add</button>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>
</template>
<script>
	export default {
		name: 'list',
		data () {
			return {
				newPerson: {
					email: '', 
					nickname: '',
					ip: '' 
				},
				validMail: false,
				validNickname: false,
				validIP:false,
				items: [
				{ 
					email: 'redetermine@teeny.com', 
					nickname: 'Stephie',
					ip: '191.195.108.217' 
				},
				{ 
					email: 'disheartener@psittacomorphae.org',
					nickname: 'Brandan',
					ip: '39.123.214.47'
				},
				{ 
					email: 'abipon@scoriform.net',
					nickname: 'Ayame',
					ip: '106.110.188.215' 
				},
				]
			}
		},
		computed: {
			valid: function(){
				return this.validMail & this.validNickname & this.validIP;
			}
		},

		watch: {
			'newPerson.ip'(){
				const regex = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
				this.validIP = regex.test(this.newPerson.ip);
			},
			'newPerson.nickname'(){
				this.validNickname = this.newPerson.nickname !== '';
			},
			'newPerson.email'(){
				const regex =  /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				this.validMail = regex.test(this.newPerson.email);
			}
		},
		methods: {
			addNew() {
				const person = this.newPerson;
				if (!this.items.filter(item => {
						return this.compareObjStr(item, person )}
					).length > 0) 
				{
					this.items.push({...person});
				}
			},
			compareObjStr(obj1, obj2) {
				let errors = [];
				let val = false;
				if (obj1.nickname === obj2.nickname) {
					val = true;
					errors.push('nickname')
				}
				if (obj1.email === obj2.email ) {
					val = true;
					errors.push('email')
				}
				if (errors.length) {

					alert(`User with this already exists in list.\nDuplicates in the field(s): ${errors}`);
				}
				return val;
			},
			removeItem(index) {
				if (confirm('Are you sure?')) {
					this.items.splice(index, 1);
				}
			},
			removeAllItems() {
				if (confirm('Are you sure?')) {
					this.items.splice(0, this.items.length);
				}
			},
		}
	}
</script>

<style scoped>
	.frame .table {
		position: relative;
		margin: 50px auto;
	} 
	input {
	 	width: 100%;
	}
</style>