body {
	background-color: #fdfdfd;
}
.table {
	border-collapse: collapse;
}
.table thead,
.table tbody tr:last-of-type {
	border-bottom: 1px solid grey;
}

.table tbody tr:first-of-type td {
	padding-top: 20px;
}

.table tbody tr:last-of-type td{
	padding-bottom: 20px;
}
.table td {
	padding: 5px 10px;
}
.text-right {
	text-align: right;
}